<script type="text/javascript" defer>

    tt_cancel_destination = '/users';
    tt_cancel_show = '/';

</script>

<%= form_for :user,  url: user_index_path do |f| %>

        <p><label for="user_given_name">First name</label><br/>
          <%= text_field 'user', 'given_name', :ajaxURL=> '/patients/given_names?search_string=', :value => nil ,:allowFreeText => true%></p>

        <p><label for="user_family_name">Last name</label><br/>
          <%= text_field 'user', 'family_name', :ajaxURL => '/patients/family_names?search_string=', :value => nil, :allowFreeText => true%></p>

        <%= f.label :username %>
        <br>
        <%= f.text_field :username, :class => "input_cell", :placeholder => "Username", :required => true,
                         :textCase => "lower", :uniq_check => "/username_availability?search_str=" %>
        <%= f.label :password %>
        <br>
        <%= password_field_tag(:password, nil, :helpText => 'Enter password',
                               :textCase => "lower", :field_type => "password",
                               :validationRule =>"\\w{6}\\w*", :validationMessage =>"Password less than SIX characters.",:minlength => 6 ,
                               :tt_onLoad => "inform(); barcodeId = 'touchscreenInput1';") %><br>

        <%= password_field_tag(:confirm_password, nil, :helpText => 'Confirm password',
                               :validationRule =>"\\w{6}\\w*", :validationMessage =>"Password less than SIX characters.",:minlength => 6 ,
                               :textCase => "lower", :field_type => "password") %><br>

        <br>
        <p><label for="user_role_role_id">User Role</label></br>
        <%= text_field 'user_role', 'role_id', :xhelpText => 'User role', :ajaxURL => '/user/roles?field=role&value='%></p>

        <%= hidden_field_tag 'creator', User.current.id %>

<% end %>

